body{
	font-family: 'Assistant', sans-serif;
	background: hsl()!important;
	height: 100%;
}
.fontBoldXXXLarge{
	font-weight: 500;
	font-size: xxx-large;
}
.white {
	color: white;
}
#loitv
{
	width: 230px;
	height: 80px;
	position: absolute;
	left:1620px;
	top:74px;
}
#scoreImage {
	position: absolute;
	width:720px;
	height:120px;
	left: 5em;
	top: 3em;
}
#timerDiv {
	position: absolute;
	z-index: 1;
	font-size: xxx-large;
}
#timerBox {
	text-align: center;
	margin: 69px 0 0 65px;
	width: 140px;
	height: 62.5px;
	background: rgba(255,255,255,0.7);
	border: white;
	border-radius: 5px;
}
#overtimeBox {
	text-align: center;
	margin: 10px 0 0 65px;
	width: 140px;
	height: 65px;
	font-size: xxx-large;
	background: rgba(0,0,0,0.7);
	border: white;
	border-radius: 5px;
	color: red;
}
#crestTeam1 {
	width: 60px;
	height: 54px;
	z-index: 2;
	position: absolute;
	top:80px;
	left: 255px;
}
#crestTeam2 {
	width: 60px;
	height: 58px;
	z-index: 3;
	position: absolute;
	top: 78px;
	left: 691px;
}
#nameTeam1 {
	position: absolute;
	top:25px;
	left: 323px;
}
#nameTeam2 {
	position: absolute;
	top:25px;
	left: 605px;
}
#teamPoints1 {
	position: absolute;
	top:72.5px;
	left: 455px;
}
#teamPointsDivider {
	position: absolute;
	top:70px;
	left: 496px;
}
#teamPoints2 {
	position: absolute;
	top:72.5px;
	left: 528px;
}


