body{
	font-family: 'Assistant', sans-serif;
	background: transparent!important;
	height: 100%;
	overflow: hidden;
}
.fontBoldXXXLarge{
	font-weight: 500;
	font-size: xxx-large;
}
.fontBoldXXXXLarge{
	font-weight: 500;
	font-size: 128pt;
}
.fontBoldXXLarge{
	font-weight: 500;
	font-size: xx-large;
}
.white {
	color: white;
}
.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

/* Corner Logos */

#loitv
{
	width: 240px;
	height: 80px;
	position: absolute;
	left:1620px;
	top:70px;
	opacity: 1;
	transition: opacity 1s;
}
#loitv.hide {
	opacity: 0;
}
#srfc
{
	max-height: 220px;
	width: 230px;
	height: auto;
	position: absolute;
	left:1622px;
	top:50px;
	opacity: 1;
	transition: opacity 1s;
}
#srfc.hide {
	opacity: 0;
}

/* Score & Time GFX Top-Left */

#scorebugbox {
	opacity: 1;
	transition: opacity 1s;
}

#scorebugbox.hide {
	opacity: 0;
}
#scoreImage {
	position: absolute;
	width:570px;
	height:75px;
	left: 13.5em;
	top: 4.4em;
}
#timerDiv {
	position: absolute;
	z-index: 99;
	font-size: xxx-large;
}
#timerBox {
	text-align: center;
	left: 65px;
	width: 140px;
	height: 64px;
	background: rgba(255,255,255,0.7);
	border: white;
	border-radius: 5px;
	position:absolute;
	bottom: 180px;
}
#overtimeBox {
	text-align: center;
	left: 65px;
	width: 140px;
	height: 65px;
	background: rgba(0,0,0,0.7);
	border: white;
	border-radius: 5px;
	color: white;
	opacity: 1;
	transition: opacity 1s;
	position: absolute;
	bottom: 110px;
}
#overtimeBox.hide {
	opacity:0;
}
#crestTeam1 {
	width: 60px;
	height: 54px;
	z-index: 2;
	position: absolute;
	top:80px;
	left: 255px;
}
#crestTeam2 {
	width: 65px;
	height: 58px;
	z-index: 3;
	position: absolute;
	top: 78px;
	left: 691px;
}
#nameTeam1 {
	position: absolute;
	top:25px;
	left: 328px;
}
#nameTeam2 {
	position: absolute;
	top:25px;
	left: 595px;
}
#teamPoints1 {
	position: absolute;
	top:72.5px;
	left: 455px;
}
#teamPointsDivider {
	position: absolute;
	top:70px;
	left: 496px;
}
#teamPoints2 {
	position: absolute;
	top:72.5px;
	left: 528px;
}

/* Ticker */

#tickerBar {
	width: 1890px;
	height: 85px;
	position: absolute;
	left:15px;
	top:950px;
}
#ticker {
	width: 1830px;
	height: 85px;
	position: absolute;
	left:15px;
	top:960px;
	color: white;
	margin-left: 32px;
	margin-right: 1000px;
}
#tickerDiv {
	opacity: 1;
	transition: opacity 1s;
}
#tickerDiv.hide {
	opacity: 0;
}

/* Substitution */

#substitutionDiv {
	opacity: 1;
	transition: opacity 1s;
}
#substitutionDiv.hide {
	opacity: 0;
}
#subOffBox {
	text-align: center;
	position: absolute;
	left: 1475px;
	top: 875px;
	width: 400px;
	height: 65px;
	background: linear-gradient(to top, grey 0%, lightgrey 50%, white 100%);
	border: white;
	border-radius: 5px;
	color: black;
	z-index: 99;
}
#numberPlayerOff {
	position: absolute;
	margin-left: -110px;
	justify-self: center;
}
#namePlayerOff {
	position: absolute;
	padding-top: 8px;
	right: 30px;
}
#playerOffImage {
	position:absolute;
	max-width:215px;
	max-height:85px;
	width: auto;
	height: auto;
	right: 315px;
	top: -10px;
}
#subOnBox {
	text-align: center;
	position: absolute;
	left: 1475px;
	top: 950px;
	width: 400px;
	height: 65px;
	background: linear-gradient(to top, grey 0%, lightgrey 50%, white 100%);
	border: white;
	border-radius: 5px;
	color: black;
	z-index: 99;
}
#numberPlayerOn {
	position: absolute;
	margin-left: -110px;
	justify-self: center;
}
#namePlayerOn {
	position: absolute;
	padding-top: 8px;
	right: 30px;
}
#playerOnImage {
	position:absolute;
	max-width:215px;
	max-height:85px;
	width: auto;
	height: auto;
	bottom: -10px;
	right: 312px;
}
#substitutionTeamIdentifierImg {
	position:absolute;
	right:600px;
	top: 865px;
	max-width:200px;
	max-height:200px;
	width: auto;
	height: auto;
}

/* Full Start Ident */

#matchFullIdent {
	opacity: 1;
	transition: opacity 1s;
}
#matchFullIdent.hide {
	opacity: 0;
}
#matchFullIdentImg {
	max-width:1620px;
	max-height:948px;
	width: auto;
	height: auto;
	position: center!important;
	z-index: -1;
}
#sseLogoFullIdent {
	position: absolute;
	max-width:350px;
	max-height:350px;
	width: auto;
	height: auto;
	top:280px;
	z-index: 11;
}
#crestTeam1FullIdent {
	max-width:512px;
	max-height:512px;
	width: auto;
	height: auto;
	top: 370px;
	left: 240px;
	z-index: 12;
	position: absolute;
}
#crestTeam2FullIdent {
	width: 480px;
	height: 480px;
	z-index:13;
	position:absolute;
	top: 350px;
	left: 1175px;
}
#nameTeam1FullIdent {
	position: absolute;
	top:262px;
	left: 275px;
}
#nameTeam2FullIdent {
	position: absolute;
	top:262px;
	left: 1280px;
}
#VSFullIdent {
	position:absolute;
}
#locationFullIdent {
	padding-top: 740px;
	padding-right: 520px;
}
#dateFullIdent {
	padding-top: 740px;
	padding-left: 500px;
}

/* Halftime Ident */

#halftimeIdent {
	opacity: 1;
	transition: opacity 1s;
}
#halftimeIdent.hide {
	opacity: 0;
}
#matchHalftimeIdentImg {
	max-width:1620px;
	max-height:948px;
	width: auto;
	height: auto;
	position: center!important;
	z-index: -1;
}
#sseLogoHalftimeIdent {
	position: absolute;
	max-width:350px;
	max-height:350px;
	width: auto;
	height: auto;
	top:280px;
	z-index: 11;
}
#crestTeam1HalftimeIdent {
	max-width:512px;
	max-height:512px;
	width: auto;
	height: auto;
	top: 370px;
	left: 240px;
	z-index: 12;
	position:absolute;
}
#crestTeam2HalftimeIdent {
	width: 480px;
	height: 480px;
	z-index:13;
	position:absolute;
	top: 350px;
	left: 1175px;
}
#nameTeam1HalftimeIdent {
	position: absolute;
	top:262px;
	left: 275px;
}
#nameTeam2HalftimeIdent {
	position: absolute;
	top:262px;
	left: 1280px;
}
#halftimeTextIdent {
	position:absolute;
	padding-bottom:200px;
	font-size: 50pt!important;
}
#locationHalftimeIdent {
	padding-top: 740px;
	padding-right: 520px;
}
#dateHalftimeIdent {
	padding-top: 740px;
	padding-left: 500px;
}
#teamPoints1HTIdent {
	padding-top: 200px;
	padding-right: 200px;
}
#seperatorPointsHTIdent {
	padding-top: 185px;
}
#teamPoints2HTIdent {
	padding-top: 200px;
	padding-left: 200px;
}

/* Lineup */

#lineupDivT1 {
	opacity: 1;
	transition: opacity 1s;
}
#lineupDivT1.hide {
	opacity: 0;
}
#lineupLocation {
	position: absolute;
	top: 1000px;
	font-size: 44pt!important;
}
#lineupImg {
	max-width: 1800px;
	max-height: 900px;
	width: auto;
	height: auto;
	position: absolute!important;
	z-index: -1;
}

#crestTeam1Lineup {
	max-width:314px;
	max-height:314px;
	width: auto;
	height: auto;
	z-index:55;
	position:absolute;
	top: 95px;
	left: 275px;
}

#namesTeam1Lineup {
	background: transparent;
	height: 580px;
	width: 875px;
	margin-left: 64px;
	margin-top: 321px;
	z-index: 51;
	color: white;
	font-size: 24pt;
}

/* T1 Names */

#T1StartingXI {
	margin-left: 190px;
}
numt1p1 {
	margin-left: 250px;
	margin-bottom:60px;
}
t1p1 {
	margin-left: 250px;
	margin-bottom:60px;
}

/* T2 Names */

#T2StartingXI {
	margin-left: 120px;
}

/* Ident Lower Third */

#identLowerThird {
	position:fixed;
	margin-top: 375px;
	opacity: 1;
	transition: opacity 1s;
}
#identLowerThird.hide {
	opacity:0;
}
#identLowerThirdV {
	position: fixed;
	margin-left: 620px;
	top: 185px;
	font-weight: 500;
	font-size: 60pt;
}
#identLowerThirdStadium {
	position: absolute;
	margin-left: 474px;
	top: 155px;
	font-weight: 300;
	font-size: 32pt;
}
#identLowerThirdImg {
	max-width: 1280px;
	max-height: 1000px;
}
#identLowerThirdTeam1Name{
	position:fixed;
	bottom: 30px;
	left: 206px;
	font-weight: 400;
	font-size: xxx-large;
}
#identLowerThirdTeam2Name{
	position:fixed;
	bottom: 30px;
	left: 840px;
	font-weight: 400;
	font-size: xxx-large;
}
#identLowerThirdTeam1Crest {
	position:fixed;
	width: 105px;
	height: 98px;
	bottom: 9px;
	left: 52px;
}
#identLowerThirdTeam2Crest {
	position:fixed;
	width: 112px;
	height: 108px;
	bottom: 9px;
	left: 1145px;
}

/* Ident Lower Third NoSSE */

#identLowerThirdNoSSE {
	position:fixed;
	margin-top: 450px;
	opacity: 1;
	transition: opacity 1s;
}
#identLowerThirdNoSSE.hide {
	opacity:0;
}
#identLowerThirdNoSSEV {
	position: fixed;
	margin-left: 634px;
	top: 30px;
	font-weight: 500;
	font-size: 60pt;
}
#identLowerThirdNoSSEStadium {
	position: absolute;
	margin-left: 474px;
	top: 1px;
	font-weight: 300;
	font-size: 32pt;
}
#identLowerThirdNoSSEImg {
	max-width: 1280px;
	max-height: 1000px;
}
#identLowerThirdNoSSETeam1Name{
	position:fixed;
	bottom: 30px;
	left: 206px;
	font-weight: 400;
	font-size: xxx-large;
}
#identLowerThirdNoSSETeam2Name{
	position:fixed;
	bottom: 30px;
	left: 840px;
}
#identLowerThirdNoSSETeam1Crest {
	position:fixed;
	width: 105px;
	height: 98px;
	bottom: 9px;
	left: 52px;
}
#identLowerThirdNoSSETeam2Crest {
	position:fixed;
	width: 112px;
	height: 108px;
	bottom: 7px;
	left: 1140px;
}

/* scoreCenterLowerThird */

#scoreCenterLowerThird {
	position:fixed;
	margin-top: 450px;

	opacity: 1;
	transition: opacity 1s;
}
#scoreCenterLowerThird.hide {
	opacity:0;
}
#scoreCenterLowerThirdImg {
	max-width: 1280px;
	max-height: 1000px;
}
#scoreCenterLowerThirdTeam1Name{
	position:fixed;
	bottom: 30px;
	left: 206px;
	font-weight: 400;
	font-size: xxx-large;
}
#scoreCenterLowerThirdTeam2Name{
	position:fixed;
	bottom: 30px;
	left: 840px;
	font-weight: 400;
	font-size: xxx-large;
}
#scoreCenterLowerThirdTeam1Crest {
	position:fixed;
	width: 105px;
	height: 98px;
	bottom: 9px;
	left: 52px;
}
#scoreCenterLowerThirdTeam2Crest {
	position:fixed;
	width: 112px;
	height: 108px;
	bottom: 7px;
	left: 1140px;
}
#teamPoints1ScoreCenterLowerThird {
	position:absolute;
	font-weight: 300;
	font-size: 54pt;
	padding-right:85px;
	padding-bottom: 25px;
}
#seperatorScoreCenterLowerThird {
	position:absolute;
	font-weight: 300;
	font-size: 54pt;
	padding-bottom: 25px;
}
#teamPoints2ScoreCenterLowerThird {
	position:absolute;
	font-weight: 300;
	font-size: 54pt;
	padding-left:85px;
	padding-bottom: 25px;
}

/* HTFT Lower Left Third */

#scoreHTFTLeftLowerThird {
	opacity: 1;
	transition: opacity 1s;
	position: absolute;
	left: 1px;
}
#scoreHTFTLeftLowerThird.hide {
	opacity: 0;
}
#scoreHTFTLeftLowerThirdImg {
	max-width: 720px;
	max-height: 720px;
	width: auto;
	height: auto;
}
#scoreHTFTLeftLowerThirdTeamName1 {
	padding-left: 214px;
	position: fixed;
	padding-bottom:50px;
}
#scoreHTFTLeftLowerThirdTeamName2 {
	padding-left: 1280px;
	position: fixed;
	top: 5px;
}
