body{
	font-family: 'Assistant', sans-serif;
	background:hsl()!important;
}
.fontBoldXXLarge{
	font-weight:500;
	font-size: xxx-large;
}
.white{
	color: white;
}
#livescorediv{
	position:absolute;
	margin-top: -103px;
	margin-left: 33px;
	display:flex;
	flex-direction:column;
}
#livescorebox{
	padding:6px;
	object-fit: contain;
}

#overtimebox {
	display:flex;
	flex-direction:column;
	color:#fff;
	text-align: center;
	background:linear-gradient(to bottom,#000 0, #444444 50%,#000 100%);
	margin-left: 4px;
}
#scorebugimage{
	padding:1em 0 0 1em;
	cursor:move;
	z-index:8;
	width:720px;
	height:120px
}
#scorebugbox{
	position:absolute;
	padding:1em 0 0 1em;
	cursor:move;
	top: -37px; left: -12px;
}
#loitv {
	width: 300px;
	height: 85px;
	position: absolute;
	left:1580px;
	top:64px;
}
#tickerbar {
	width: 1910px;
	height: 85px;
	position: absolute;
	left:5px;
	top:950px;
}
#ticker {
	width: 1850px;
	height: 85px;
	position: absolute;
	left:5px;
	top:955px;
	color: white;
	margin-left: 32px;
	margin-right: 1000px;
}
#crestTeam1 {
	width: 54px;
	height: 48px;
	position: relative;
	z-index: 100;
	top:103px;
	left: 190px;
}
#crestTeam2 {
	width: 54px;
	height: 48px;
	position: relative;
	z-index: 100;
	top:103px;
	left: 572px;
}
.float {
	position: relative;
}
#teamName1 {
	width: 54px;
	height: 48px;
	position: absolute;
	z-index: 100;
	top:-6px;
	left: 262px;
	font-weight:600;
}
#teamName2 {
	width: 54px;
	height: 48px;
	position: absolute;
	z-index: 100;
	top:-6px;
	left: 530px;
	font-weight:600;
}
.abfloat {
	position: fixed;
}
#teamPoints1 {
	left: 390px;
	top: 42px;
}
#teamPointsDivider {
	left: 402px;
	top: 40px;
}
#teamPoints2 {
	left: 414px;
	top: 42px;
}
#fullLineup {
	margin-left: 260px;
	margin-top: 200px;
	height: 800px;
	width: 1366px;
}
